*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

body{
	background: (231, 236, 236);
	/*display: flex;*/
	min-height: 100vh;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: 4px;
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-top: 4px \9;
    margin-left: 53px;
}
input[type="checkbox"], input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
    position: absolute;
}
input[type="radio"], input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
}

input {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 30px 0;
    font-size: 20px;
}
form{
	margin: auto;
	width: 50%;
	max-width: 500px;
	
	padding: 30px;
	border: 1px solid rgba(0, 0,0,0.2);
}

h2{
	text-align: center;
	margin-bottom: 20px;
	color: rgba(0, 0,0, 0.5);
	margin-top: 70px;
}

input{
	display: block;
	padding: 10px;
	width: 100%;
	margin: 10px 0;
	font-size: 20px;
}

button[type="submit"]{
	background: linear-gradient(#FFDA63,#FFB940);
	border: 0;
	color: brown;
	opacity: 0.8;
	cursor: pointer;
	border-radius: 20px;
	margin-bottom: 0;
}

button[type="submit"]{
	opacity: 1;
}
button[type="submit"]{
	transform: scale(0.95);
}

@media(max-width:480px){
	form{
		width: 95%;
	}

}
@media (min-width: 1200px){
.col-lg-8 {
    width: 66.66666667%;
}
}